<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png"  href="../public/images/favicon.ico">
    <title>Burjo|Find Your Restauran</title>
  </head>
  <body id="Home">
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <nav-bar></nav-bar>
    <main id="mainContent">
      <load-ding></load-ding>
    </main>
    <footer>
      <footer-element></footer-element>
    </footer>
  </body>
</html>
