

.detail__page {
    width: 90%;
    margin: 40px auto;
}

.detail__page__restaurant {
    display: flex;
    width: 100%;
}

.detail__page___img {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 350px; 
    position: relative;
}

.detail__page___img > img {
    width: 95%;
    height: 100%;
    border-radius: 3%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
    object-fit: cover;
    object-position: center;
}

.detail__page___img > button {
    position: absolute;
    height: 45px;
    width: 45px;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.detail__page___img > button.like {
    background-color:#53AD27;
}

.detail__page___img > button > img {
    height: 50%;
    width: 50%;
    object-fit: fill;
}

.detail__page__desc {
    padding: 10px;
    width: 50%;
}

.detail__page__desc > .page__desc__title > h1 {
    font-size: 1.9rem;
    font-weight: 700;
    color: rgba(0, 0, 0, .90);
    margin-bottom: 5px;
}

.detail__desc__rate__addres,
.detail__desc__rate__addres > .desc__addres {
    display: flex;
    font-size: .8rem;
    color: rgba(0, 0, 0, .7);
}

.page__desc__restaurant {
    margin: 15px 0;
    line-height: 1.6em;
    text-align: left;
    letter-spacing: .6px;
    color: rgba(0, 0, 0, .80);
    font-size: 1.05em;
}

.page__desc__category {
    display: flex;
    font-style: italic;
    font-size: .8rem;
    color: rgba(0, 0, 0, .7 );
}

.page__desc__category > p {
    margin-right: 5px;
}

.detail__desc__rate__addres > .desc__addres > p {
    margin-left: 10px;
}

.detail__page__menu {
    width: 25%;
    border-radius: 10px;
}

.page__menu__foods > h2,
.page__menu__drink > h3 {
    padding: 5px;
    color: #fff;
    font-size: 1.5em;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(83,173,39);
}

.page__menu__drink > h3 {
    margin-top: 10px;
}

.page__menu__foods > ol > li,
.page__menu__drink > ol > li {
    padding: 5px;
    margin-left: 15px;
    color: rgba(0, 0, 0, .75);
}
.page__menu__foods > ol ,
.page__menu__drink > ol  {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, .1);
}


/* review */
.detail__page__review {
    margin: 30px 0;
    padding: 10px;
}


/* end */
.detail__page__review > .page__review__card {
    margin: 15px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    border-radius: 10px;
}





