.page__review__form {
    background-color: #f7f7f7;
    min-height: 250px;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .05); */
}

.page__review__form > .review__form__title > h4 {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 8px;
}

.review__form__content {
    background-color: #fff;
    margin: 10px 0;
    height: 80%;
    border-radius: 20px;
    padding: 15px;
}

.review__form__content > #txt___area,
.review__form__content > #txt___name {
    width: 100%;
    height: 50%;
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.review__form__content > .form__content__btn {
    margin: 10px 0;
    display: flex;
    justify-content: end;
}

.form__content__btn > button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(83,173,39);
    color: #fff;
    cursor: pointer;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, .1);
    transition: all 0.1s;
}

.form__content__btn > button:active {
    transform: translate(3px,3px);
    box-shadow: none;
}