.preview__card__container {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 20px;
}

.page__review__name > p {
    font-size: 1.3em;
}

.preview__card__container > .page__review__date {
    font-size: .9em;
    margin: 3px 0 10px 0;
    color: rgba(0, 0, 0, .6);
}

.preview__card__container > .page__review__desc {
    color: rgba(0, 0, 0, .85);
    font-size: 1.1em;
}